
.user{
    flex:4;
    
    
}

.updatetop{
    display: flex;
    justify-content: space-between;
}
.updateTitle{
    text-transform: capitalize;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    
}



/* ================ update bottom start here =============== */
.updatetbottom{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.updateBottomLeft{
    width: 400px;

}
.updateBottomright{
    display: flex;
    flex-direction: column;

}

.userForm{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.userImg{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;

}
.updatebtn{
    background-color: teal;
    color: white;
    padding: 5px 10px ;
    border-radius: 5px;
    cursor: pointer;
}