.userList{
    flex: 4;
    text-align: center;
    margin: 10px ;
    margin-left: 20px;

}

.addNewbtn{
    
}

.userTrasaction{
    color: gray;
}
.userIgm{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}


@media screen and (max-width:778px ) {
    .userList{
        /* width: max-content; */
        overflow-x: auto;

    }
    
}